p{
    color:red;
    font-size:200%;
}
h1{
    color:brown;
    font-style:bold;
    font-size:400%;
}
body{
    background-color:yellow;
}
div{
    color:red;
    font-size:20px;
}
.menu{
    border:2px;
    border-color:rgb(128, 77, 0);
    border-radius:20px;
    font-size:130%;
    padding-top:5px;
    padding-bottom:5px;
    margin-top:5px;
    background-color:green;
    margin-right:20px;
}
